  </body>
<footer class="h-[60vh] px-10 py-10 flex justify-between">
  <div class="w-[20vw]">
    <p class="mb-5 text-2xl text-green-200">Get in Touch</p>
    <p class="border-l-2 px-5 mb-5"><i class="ri-home-line text-green-200 mr-3 text-xl"></i> Ayodhya Bypass road Ganesh
      Galaxy
      A-21 floor-3rd 462022 Bhopal M.P </p>
    <p class="border-l-2 px-5 mb-5"><i class="ri-mail-line text-green-200 mr-3 text-xl"></i> support@leaprealestate.in
    </p>
    <p class="border-l-2 px-5 mb-5"><i class="ri-phone-line text-green-200 mr-3 text-xl"></i> +919131602703 </p>
    <p class="border-l-2 px-5 mb-5"><i class="ri-whatsapp-line text-green-200 mr-3 text-xl"></i> +919131602703 </p>


  </div>
  <div class="w-[20vw]">
    <p class="mb-5 text-2xl text-green-200">Usefull Links</p>
    <li><a href="" class="text-neutral-400 text-xl hover:text-neutral-200">Careers</a></li>
    <li><a href="" class="text-neutral-400 text-xl hover:text-neutral-200">Contact us</a></li>
    <li><a href="" class="text-neutral-400 text-xl hover:text-neutral-200">About us</a></li>
    <li><a href="" class="text-neutral-400 text-xl hover:text-neutral-200">Gallery</a></li>
    <li><a href="" class="text-neutral-400 text-xl hover:text-neutral-200">Our Clients</a></li>
    <li><a href="" class="text-neutral-400 text-xl hover:text-neutral-200">Work</a></li>

  </div>
  <div class="w-[40vw]">
    <p class="mb-5 text-2xl text-green-200">Write to us</p>
    <form action="/writetous" method="post">
      <textarea name="writeToUs" id="" class="resize-none bg-neutral-800 w-full h-[20vh] outline-none px-3 py-3 rounded"
        placeholder="Write you queries here.."></textarea>
      <input type="email" class="bg-neutral-800 w-full p-3 rounded" name="email" placeholder="enter email">
      <button class="px-5 py-2 bg-red-700 mt-10 hover:bg-red-600 rounded">Submit</button>
    </form>
    <div class="mt-10 border-l-2 px-5">
      <p><i class="ri-copyright-line"></i> 2023-2024 Leap Real Estates Pvt.Ltd . All Rights Reserved</p>
      <p>Designed By Sourabh soni</p>
    </div>
  </div>
</footer>
  </html>
