<nav class="flex justify-evenly gap-[30vw] items-center absolute top-0 h-[10vh]">
<a href="">
    <img src="https://scontent.fidr4-2.fna.fbcdn.net/v/t39.30808-6/241527214_100228135743772_8778724080361472669_n.png?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=A4ikcpDIF_EQ7kNvgFPsaBS&_nc_ht=scontent.fidr4-2.fna&oh=00_AYAPz3hv-YDvos-CA_42LA9XIs4Z9g1NJA_r0yDB73KUHA&oe=666E3DE5"
        alt="" class="h-[20vh] mix-blend-exclusion ">
</a>
<div class="flex gap-16">
    <a href="/" class="text-xl text-zinc-400 hover:text-zinc-500">Home</a>
    <a href="/register" class="text-xl text-zinc-400 hover:text-zinc-500">Register Property</a>
    <a href="/gallery" class="text-xl text-zinc-400 hover:text-zinc-500">Gallery</a>
    <a href="/contact" class="text-xl text-zinc-400 hover:text-zinc-500">Contact us</a>
</div>
</nav>