<%-include("partials/header")%>
<%-include("partials/nav")%>
<main class="min-h-screen">
    <div class="page1 flex justify-between min-h-[100vh] overflow-hidden ">
     <img src="/images/vecteezy_empty-modern-interior-dark-office-wall-background-front-view_34438290.jpg"
         class="absolute w-[100vw] absolute z-[-1]" alt="">
        <div class="w-2/3 mt-10">
            <h1 class="text-[12vh] mt-[20vh] ml-10 leading-[1.2]">Find Your Dream House By Us <span class="text-neutral-500">...</span></h1>
            <h1 class="text-4xl mt-6 ml-10 mb-10 text-zinc-500 border-l-2 px-6  py-5 ">The Leading Real Estate...</h1>
            <a href="" class="bg-lime-800 ml-10 px-3 py-2 rounded text-2xl hover:bg-lime-900">Check out </a>

        </div>

    </div>

    <div class="page2  h-screen  py-10 relative">
        <!-- <img src="https://images.squarespace-cdn.com/content/v1/5ac2ddf285ede15e39a57666/ae2896cb-3768-41bb-8bc3-7e5298dfcd0b/Design-Anthology-2022-04+Light+_+Dark+apartment%2C+Tainan+-+Degree+Design-Degree_Design_BBBLACK-213.jpg "
            alt="" class="h-screen w-full brightness-50 absolute"> -->
        <div
            class="absolute top-[55%] left-[50%] h-[80vh] w-[80vw] bg-white translate-x-[-50%] translate-y-[-50%] flex ">
            <img src="https://houseandhome.com/wp-content/uploads/2015/11/Decorating101-BlackWhite-Rooms-IMAGE-6-TTI_238_CLOSEUP02.jpg"
                alt="No image found" class="h-full">
            <div class="px-20 py-20 ">
                <h1 class="text-black text-5xl capitalize mt-10">To help you achieve <br> your real estate <br> dream
                </h1>
                <h1 class="text-black text-2xl capitalize mt-5 ">-we are about attention every detail,<br>passion and
                    ecological approach...</h1>
                <h1 class="text-black text-2xl capitalize mt-5 ">-To discover the new world in a new way.</h1>
                <h1 class="text-black text-2xl capitalize mt-5 mb-10">-private downtown living .</h1>
                <a href="" class="bg-black px-4 py-3 hover:bg-zinc-700">Learn More</a>
            </div>
        </div>
    </div>

    <div class="page3 flex justify-between h-screen  py-10 relative">
        <div class="w-1/2 flex items-center justify-center px-10">
            <img src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="No image found" class="w-[70vw] h-[60vh] rounded ">
        </div>
        <div class="w-1/2 px-20 py-20 mt-10">
            <p class="text-black bg-green-300 w-fit px-4 py-2 rounded-full hover:bg-green-200 absolute left-1/2 top-10">About us</p>
            <p class="capitalize text-6xl mt-10">the leading real estate market place.</p>
            <p class="capitalize text-2xl mt-10 text-zinc-500 border-l-2 px-5">over 39,000 peoples work for us in more
                than 70+ countries all over the world , combined with specilaist services.</p>
            <div class="mt-16 w-full flex flex-wrap gap-10">
                <p class="text-2xl"><i
                        class="ri-hotel-line bg-green-300 text-black px-3 py-3 rounded-full hover:bg-green-200
                        "></i>
                    Smart
                    home
                    design</p>
                <p class="text-2xl"><i
                        class="ri-sparkling-line bg-green-300 text-black px-3 py-3 rounded-full hover:bg-green-200 "></i>
                    Beautifull scene around</p>
                <p class="text-2xl"><i
                        class="ri-btc-fill bg-green-300 text-black px-3 py-3 rounded-full hover:bg-green-200 "></i>
                    Exceptional lifestyle
                </p>
                <p class="text-2xl"><i
                        class="ri-secure-payment-fill bg-green-300 text-black px-3 py-3 rounded-full hover:bg-green-200 "></i>
                    Complete 24/7 security</p>
            </div>
        </div>
    </div>

    <div class="page4 px-10 bg-neutral-800 py-10 rounded-[4vw]">
        <h1 class="text-5xl text-center mb-[15vh]">Merging interior design with real estate: <br><br>Elevate your REAL
            ESTATE investment.</h1>
        <div class="w-[80vw]">
            <h1 class="text-3xl"> Using interior design to increase the value of your home.</h1>
            <p class="text-xl text-zinc-500 mt-10 mb-10"> The direct or indirect message we are trying to convey here is
                if you have a luxurious house or flat in a
                posh
                location let’s see, Kolkata. There is no doubt the following property (for example 3BHK flat) might have
                excellent prices in the real estate market. But if your house/flat has excellent interior designing done
                also,
                then you might get thick returns from the market if you go to resell your 3BHK in Kolkata. In this
                article
                we
                are going to talk about some tips that you can follow when it comes to interior designing of your house
                if
                you
                want to boost its market value. So read patiently till the end, to explore the best methods!
                Whether you're looking to invest or meet the needs of your family, these interior design strategies
                could
                help
                you raise the value of your property when you decide to sell it. Just keep these following things on top
                of
                your
                head and you are all set to get nice cheques in return for the resale of your flat, house, etc.</p>


            <h1 class="text-3xl"> Avoid trends and maintain an impartial mindset.</h1>
            <p class="text-xl text-zinc-500 mt-10 mb-10"> Regarding aesthetic trends and individual preferences,
                interior design is subjective and ought to reflect
                the
                people who live there. But it doesn't mean you shouldn't consider your house as a product that will
                eventually
                be sold and view it from the standpoint of a buyer. In a home you're selling, good interior design
                shouldn't
                be
                overly trendy because this could turn off certain potential buyers. The focus should be on classic
                design
                and
                high-quality materials and products, in reality many buyers wish to shift to new home asap so good
                interiors
                will surely help them avoid their waste of time and energy on new interiors.</p>

            <h1 class="text-3xl"> Analyze the intended audience for the property.</h1>
            <p class="text-xl text-zinc-500 mt-10 mb-10">It need not be expensive to redesign your home, but it can
                significantly increase its worth. To ensure that
                the
                investment made in redesigning is in line with your expected return, renovate according to the location.
                Since
                the real estate market in Kolkata is distinct, it's important to adapt to your surroundings as per the
                city.
                Take into account the neighborhood, the property's value, and potential buyers. When choosing the
                greatest
                interior design, think about who your potential buyers are and take storage, unique features, and finish
                into
                account.</p>



            <h1 class="text-3xl">Modernize the kitchen and bathrooms.</h1>
            <p class="text-xl text-zinc-500 mt-10 mb-10"> The kitchen and bathroom are two rooms that can significantly
                affect the price of your flat or house. Tile
                replacement or re-grouting are two little improvements that can significantly alter how potential
                purchasers
                perceive a room. If you really want to go all out, you can create a bathroom that has a spa-like
                atmosphere.
                You
                can rapidly raise the standard of your home by strategically placing mirrors and lighting and it
                occasionally
                even raises its value. Like this, adding a strong shower with a chic glass enclosure can improve the
                appearance
                and utility of your home.</p>

            <h1 class="text-3xl"> Pay attention to the subtleties.</h1>
            <p class="text-xl text-zinc-500 mt-10 mb-10"> It's crucial to consider all the little aspects while
                remodeling your home, not just the major structural
                difficulties. Elegant light fixtures and plug sockets may improve the decor of any home, yet people
                frequently
                overlook these tiny details. Similarly, door handles and appropriately sized curtains can add a sense of
                luxury
                to your decor.
                <br>
                Additionally, it's crucial to take other senses into account when watching. The house should seem
                beautiful,
                but
                the smell can also be important. It's a good idea to bake a cake or brew fresh coffee to make the house
                smell
                cozy and attractive to potential buyers. These minor elements are what will distinguish and draw
                attention
                to
                your house.</p>



            <h1 class="text-3xl">In Short:</h1>
            <p class="text-xl text-zinc-500 mt-10 mb-10">In conclusion, the blending of interior design and real estate
                affects home pricing significantly. Homeowners
                can increase the value of their residences in addition to attracting potential buyers by thoughtfully
                including
                appealing interior design components. The use of sophisticated lighting fixtures, carefully sized
                draperies,
                and
                little finishing touches like door handles may boost the overall design and create an opulent
                atmosphere. A
                home's popularity and worth can also be increased by carefully considering functional aspects, such as
                rearranging rooms and renovating important spaces like bathrooms and kitchens.

                Additionally, attracting the senses by evoking a cozy atmosphere with inviting scents and artfully
                prepared
                viewings can make an impression on potential purchasers. In the end, combining interior design with real
                estate
                proved to be a successful strategy for homeowners looking to increase the appeal of their home and
                command
                better prices in the competitive housing market.</p>

        </div>



    </div>

    




</main>
<%-include("partials/footer")%>